section.about-section
    .content
        .float-content
            aside
                .aside__sub-menu
                    .aside__sub-menu__title-about_line
                        span Адвокаты
                        img(src="img/ryu.jpg")
                        
                    .aside__sub-menu__title-about_linked
                        a(href="#") Алла Владимировна <br> Россенко                       
                        a.active(href="#") Владимир Константинович <br> Россенко   
                        a(href="#") Людмила Львовна <br> Россенко
                        
                .aside__teeser
                    img(src="img/orden.png")
                                            
                .aside__teeser
                    img(src="img/gramota.png")
                    
            .floating-content
                article
                    h2 Владимир Константинович Россенко 
                    .float-content__profile
                        .float-content__profile_image(style="background:url(img/ava.png)")
                        .float-content__profile_info
                            .faces__display__item_title-about_t-s Категории дел:
                            ul.spisok
                                li Гражданские дела
                                li Арбитражные споры
                                li Юридическое сопровождение бизнес
                                li Уголовные дела
                                li Административные дела
                             .faces__display__item_title-about_t-s Телефон для согласования <br> даты и времени приема:
                            .float-content__profile_info_phone +7 910 787 49 99 <a href="#" class="vi"></a>
                            .float-content__profile_info_phone +7 (4812) 69 49 99
                    p В 1977 году закончил Саратовский юридический институт им. Д. И. Курского. После института работал в следственных органах. Будучи следователем, специализировался на расследовании уголовных дел о крупных хищениях, в том числе путем мошенничества. Поступил в адвокатуру в 1991году, работал в Смоленской городской коллегии адвокатов, а в последствии в Смоленской городской коллегии адвокатов №1. В 2004г. мной был учрежден Адвокатский кабинет, и с этого времени по сегодняшний день я практикую в рамках данного адвокатского образования. В настоящее время мой адвокатский стаж составляет 25 лет. В период адвокатской деятельности осуществляю защиту интересов граждан по уголовным делам всех категорий сложности. Предпочтения - защита прав граждан, подозреваемых или обвиняемых в совершении преступлений экономической направленности (хищение, мошенничество в различных сферах), представительство на стороне потерпевших. По гражданским делам осуществляю представительство граждан по спорам в области семейного, земельного, градостроительного, жилищного законодательства, а также всех разделов гражданского законодательства (сделки, аренда, займ, исполнение обязательств и др.) В арбитражных судах представляю интересы поручителей по всем видам споров. 
                    
                    p Осуществляю прием по адресу - <b>г. Смоленск, ул. Октябрьской революции, 9, 2-й этаж, офис 214.</b> Дату и время приема необходимо согласовывать со мной по телефону <b>63 - 64 - 03 (8 903  649 64 03),</b> эл. почта - <a href="mailto:lavr0701@mail.ru">lavr0701@mail.ru</a>
                    