section.about-section
    .content
        .float-content
            aside
                .aside__sub-menu
                    .aside__sub-menu__title-about_line
                        span Адвокаты
                        img(src="img/ryu.jpg")
                        
                    .aside__sub-menu__title-about_linked
                        a(href="#") Алла Владимировна <br> Россенко                       
                        a.active(href="#") Владимир Константинович <br> Россенко   
                        a(href="#") Людмила Львовна <br> Россенко
                        
                .aside__teeser
                    img(src="img/orden.png")
                                            
                .aside__teeser
                    img(src="img/gramota.png")
                    
            .aside__float-content
                article
                    h2 Владимир Константинович Россенко 
                    