section.faces
    .content
        .faces__display
        
        
            .faces__display__item
                .faces__display__item_body
                    .faces__display__item_image(style="background:url(img/f1.png)")
                    .faces__display__item_title-about
                        .faces__display__item_title-about_line
                            img(src="img/ryu.jpg")
                        .faces__display__item_title-about_kab Адвокатский кабинет
                        .faces__display__item_title-about_name Россенко <br> Аллы Владимировны
                        .faces__display__item_title-about_desc Регистрационный номер в реестре адвокатов Смоленской области 67/192
                    .faces__display__item_title-about-two
                        .faces__display__item_title-about-two_phone +7 910 787 49 99 <a href="#" class="vi"></a>
                        .faces__display__item_title-about-two_phone +7 (4812) 69 49 99
                        .faces__display__item_title-about_t-s Категории дел:
                        ul.spisok
                            li Гражданские дела
                            li Арбитражные споры
                            li Юридическое сопровождение бизнес
                            li Уголовные дела
                            li Административные дела
                            
                        .button-block
                            a.button подробнее об адвокате
                    
                    
                 
        
            .faces__display__item
                .faces__display__item_body
                    .faces__display__item_image(style="background:url(img/f2.png)")
                    .faces__display__item_title-about
                        .faces__display__item_title-about_line
                            img(src="img/ryu.jpg")
                        .faces__display__item_title-about_kab Адвокатский кабинет
                        .faces__display__item_title-about_name Россенко <br> Владимира Константиновича
                        .faces__display__item_title-about_desc Регистрационный номер в реестре адвокатов Смоленской области 67/193
                    .faces__display__item_title-about-two
                        .faces__display__item_title-about-two_phone +7 903 649 64 03 <a href="#" class="vi"></a>
                        .faces__display__item_title-about-two_phone +7 (4812) 63 64 03
                        .faces__display__item_title-about_t-s Категории дел:
                        ul.spisok
                            li Уголовные дела
                            li Гражданские дела
                            li Административные споры
                            li Арбитражные споры
                            li Юридическое сопровождение бизнеса
                            
                        .button-block
                            a.button подробнее об адвокате
                    
                                 
                    
        
            .faces__display__item
                .faces__display__item_body
                    .faces__display__item_image(style="background:url(img/f3.png)")
                    .faces__display__item_title-about
                        .faces__display__item_title-about_line
                            img(src="img/ryu.jpg")
                        .faces__display__item_title-about_kab Адвокатский кабинет
                        .faces__display__item_title-about_name Россенко <br> Людмилы Львовны
                        .faces__display__item_title-about_desc Регистрационный номер в реестре адвокатов Смоленской области 67/194
                    .faces__display__item_title-about-two
                        .faces__display__item_title-about-two_phone +7 910 788 77 39 <a href="#" class="vi"></a>
                        .faces__display__item_title-about-two_phone +7 (4812) 60 77 39
                        .faces__display__item_title-about_t-s Категории дел:
                        ul.spisok
                            li Уголовные дела
                            li Административные дела
                            
                        .button-block
                            a.button подробнее об адвокате
                    
                    
                
            