footer
    .content
        .footer__copy
            .middle
                p © Адвокаты Россенко
        .footer__linked
            .middle
                .footer__linked__links
                    a(href="#")
                    a.vk(href="#")
                    .inp-txt
                        input(placeholder="")
                        a.search
        .it-grade
            .middle
                a Создано командой Айти Грэйд