.mobile#mobile
    .a-t
        .middle
            .menu
                a.close#close
                    span
                a(href="#") Главная
                a(href="#") Алла Владимировна <br> Россенко
                a(href="#") Владимир Константинович <br> Россенко
                a(href="#") Людмила Львовна <br> Россенко
                a(href="#") Категории дел
                a(href="#") Цены
                a(href="#") Контакты
                