doctype html
html(lang="ru")
    head
        include include/head.jade
    body
        .topbar
            .topbar_title <i></i> Адвокатская палата Смоленской Области
            
        header
            .header__slider
                .header__slider__item(style="background:url(img/sl.jpg)")
                    .a-t 
                        .middle
                            h1 
                                span Адвокаты Россенко
                            img(src="img/line.png")
                            .header__slider__item_name
                                span Алла <br> Владимировна                  
                                span Владимир <br> Константинович
                                span Людмила <br> Львовна
                .content
                
                    a.arrow.left
                        i
                              
                    a.arrow.right
                        i
                    .dots
                        a.active
                        a
                    nav
                        ul
                            li: <a href="#">Главная</a>
                            li: <a href="#">Адвокаты <i></i></a>
                                .nav__sub
                                    .phbg
                                        .nav__sub_body
                                            a Алла Владимировна Россенко
                                            a Владимир Константинович Россенко
                                            a Людмила Львовна Россенко
                            li: <a href="#">Категории дел</a>
                            li: <a href="#">Цены</a>
                            li.last: <a href="#">Контакты</a>
                            li.tel: <a class="nav_tel" href="#">Обратная связь</a>
                            
        .wrap
            .wrap_bg
                include include/faces.jade
            
                section.home-txt
                    .content
                     article
                            h2 Коротко о нас
                            p Адвокатские кабинеты Россенко Владимира Константивича, Россенко Людмилы Львовны, Россенко Аллы Владимировны представляют собой объединение трех   отдельно практикующих адвокатов, которое обеспечивает предоставление всего спектра юридических услуг, как физическим, так и юридическим лицам по  всем категориям дел, как в судах общей юрисдикции и арбитражных судах РФ, так и в правоохранительных и государственных органах Смоленской области и  других регионов России. Накопленный с годами опыт по защите интересов граждан, а так же по представлению интересов юридических лиц, постоянное   повышение уровня квалификации, а так же непрерывная практика, позволяет нам успешно осуществлять адвокатскую деятельность по всем категориям дел. В   интересах клиентов адвокаты Россенко не раз объединялись для защиты граждан по уголовным делам особой сложности, многотомным и многолетним делам,     что позволяло обеспечить соблюдение прав граждан в ходе следствия и суда, а так же получить положительный результат по делу.
                        
                            p На счету адвокатов Россенко не мало оправдательных приговоров, в том числе в суде с участием присяжных заседателей. Также адвокаты Россенко   представляют интересы потерпевшей стороны, как на следствии, так и в суде. По гражданским и арбитражным делам адвокаты Россенко проводят все  категории дел, начиная от простых семейных споров, заканчивая сложными гражданскими и земельными спорами, а так же по заявлениям об оспаривании  ненормативных правовых актов.
                                    
                section.home-txt
                    .content
                        article
                            h2 Почему мы не даем online консультаций и не предлагаем <br> Вам ответить на вопрос через сайт?
                            p Ответ очень прост. Мы несем ответственность за данную нами консультацию и дорожим своей репутацией. Только после подробного изучения Вашей    проблемы и представленных Вами документов, а порой изучения материалов судебного дела и анализа сложившейся судебной практики, мы можем ответить на    вопрос о перспективах разрешения сложившейся правовой ситуации и дать Вам юридическую консультацию.
                section.advantages
                    .content
                        h2 Наши преимущества
                        .advantages__disp
                    
                            .advantages__disp__item
                                .advantages__disp__item_img
                                    img(src="img/ico1.png")
                                .advantages__disp__item_titl Адвокатский <br> статус
                        
                    
                            .advantages__disp__item
                                .advantages__disp__item_img
                                    img(src="img/ico2.png")
                                .advantages__disp__item_titl Большой опыт ведения <br> дел в судах
                              
                              
                            .advantages__disp__item
                                .advantages__disp__item_img
                                    img(src="img/ico3.png")
                                .advantages__disp__item_titl Значительный <br> стаж работы
                section.home-txt
                    .content
                        article
                            h2 Почему мы убедительно просим Вас обращаться <br> именно к адвокатам?
                            p К сожалению люди, попавшие в сложную жизненную ситуацию, столкнувшись с проблемами с законом, начинают судорожно искать юриста, который поможет в решении их проблемы, но главное даст гарантию положительного результата по делу. При этом клиенты не обращают внимание ни на стаж работы, не убеждаются даже в наличии юридического образования. В настоящее время Вы можете найти большое количество таких юристов, которые видя Ваше смятение пообещают Вам помочь за относительно небольшую плату, а главное дадут те самые гарантии, о которых Вы так мечтаете. Мы рекомендуем бежать от юристов, дающих 100% гарантию выигрыша дела, ведь такие люди как правильно не обладают нужной квалификацией. Опасность заключается в том, что будет потеряно время, либо юридические услуги будут представлены не в должном объеме либо не предоставлены вообще. Нам часто приходится сталкиваться с жертвами таких юристов, ошибки которых порой исправить не представляется возможным.
                            
                            p Адвокат в своей деятельности руководствуется ФЗ «Об адвокатской деятельности и адвокатуре в РФ» и «Кодексом профессиональной этики адвоката», что дает клиенту дополнительную защиту от некачественных юридических услуг и недобросовестных юристов, ведь чтобы получить статус адвоката yнеобходимо пройти стажировку и сдать довольно сложный экзамен, подтверждающий знания в различных отраслях права. Адвокаты дорожат своим статусом и репутацией и не дают неисполнимых обещаний, при этом гарантируют свою добросовестную работу и квалифицированную юридическую помощь по Вашему делу.
                include include/footer.jade
                        

                        
        
            
                            
                            
                            