doctype html
html(lang="ru")
    head
        include include/head.jade
    body
        .topbar
            .topbar_title <i></i> Адвокатская палата Смоленской Области
            
        header
            .header__slider
                .header__slider__item(style="background:url(img/sl.jpg)")
                    .a-t 
                        .middle
                            h1 
                                span Адвокаты Россенко
                            img(src="img/line.png")
                            .header__slider__item_name
                                span Алла Владимировна                  
                                span Владимир Константинович
                                span Людмила Львовна
                .content
                
                    a.arrow.left
                        i
                              
                    a.arrow.right
                        i
                    .dots
                        a.active
                        a
                    nav
                        ul
                            li: <a href="#">Главная</a>
                            li: <a href="#">Адвокаты <i></i></a>
                                .nav__sub
                                    .phbg
                                        .nav__sub_body
                                            a Алла Владимировна Россенко
                                            a Владимир Константинович Россенко
                                            a Людмила Львовна Россенко
                            li: <a href="#">Категории дел</a>
                            li: <a href="#">Цены</a>
                            li.last: <a href="#">Контакты</a>
                            li.tel: <a class="nav_tel" href="#">Обратная связь</a>
                        

                            
                            
                            
                            
                            